@tailwind base;
@tailwind components;
@tailwind utilities;



nav {
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 7px 15px;
  margin: 4px;
  border: 1px solid black;
  background-color: black;
  color: white;


}

nav a:hover {
  color: black;
  background-color: white;
}

/* img {
  width: 100%;
  vertical-align: top;
} */